body{
    overflow: auto;
}
#stretch{
    $width: 768px;
    text-align: center;
    position: relative;

    h1{
        color: #14ffff;
    }

    .progressbar-wrapper{
        grid-area: progressbar;
        width: 100%;
        height: 100px;
        position: relative;
        margin-bottom: 80px;

        div{
            transition: 1s width;
            transition-timing-function: linear;
            height: 80px;
            background-color: #14ffff;
            position: relative;
            border-radius: 80px;

            .progressbar-time{
                color: rgb(255, 102, 0);
                font-size: 80px;
                position: absolute;
                right: 40px;
                top: 40px;
                transform: translateY(-50%);
            }
        }
    }

    .status-wrapper{
        display: flex;
        flex-wrap: wrap;
    }

    .btn{
        margin: 10px 5px;
    }

    .status-wrapper p{
        border-radius: 100px;
        display: inline-block;
        width: 50%;
        height: 80px;
        font-size: 2em;
        position: relative;

        >span{
            font-size: 100px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -110px;
            color: #fff700;
        }
    }

    .control-buttons-wrapper{
        width: 100%;
        height: 50px;
    }

    .control-num-selectors-wrapper{
        margin-top: 30px;
    }

    .num-selector-wrapper
    {
        width: 100px;
        height: 100px;
        display: inline-block;
        position: relative;

        // Title
        >span{
            position: absolute;
            width: 100%;
            left: 0;
            top: -30px;
            transform: translateX(2px);
        }

    }


    .total-time-wrapper{
        .total-time-title{
            font-size: 0.8em;
        }

        .total-time-number{
            font-size: 4.25em;
            color: #fff700;
        }
    }

    .back-link {
        margin-bottom: 10px;
    }

    @media screen and(min-width: 768px){        
        width: $width;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 110px 160px 180px 100px 0px 100px 80px 60px;
        grid-template-areas: 
        ". title ."
        "progressbar progressbar progressbar"
        ". status ."
        ". control-buttons ."
        ". control-num-selectors ."
        ". total-time ."
        ". live-clock ."
        ". back .";

        &.not-active {
            grid-template-rows: 110px 0px 0px 100px 120px 100px 80px 60px;            
        }

        h1{
            grid-area: title;
        }

        .progressbar-wrapper{
            grid-area: progressbar;
            height: 100%;
        }

        .status-wrapper{
            grid-area: status;
        }

        .control-buttons-wrapper{
            grid-area: control-buttons;

            a{
                position: relative;
                top: 60px;
            }
        }

        .control-num-selectors-wrapper{
            grid-area: control-num-selectors;
            display: flex;
        }

        .total-time-wrapper{
            grid-area: total-time;
        }

        .back-link{
            grid-area: back;
        }

        .num-selector-wrapper
        {
            width: 150px;
            height: 90px;
            margin-top: 15px;
            position: relative;

            // Title
            >span{
                position: absolute;
                width: 100%;
                left: 0;
                top: -30px;
                transform: translateX(2px);
            }

        }
    }

    .live-clock {
        grid-area: live-clock;
        font-size: 2.4em;
    }
}